<h1>Editing service <%= @service.name %> for <%= @business.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', [@business, @service] %> |
<%= link_to 'Back', business_services_path(@business) %>
