<h1>Listing services for <%= link_to @business.name %></h1>

<% if @business.services.count > 0 %>
<table class="table table-hover table-condensed">
  <tr>
    <th>Service name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.name, [@business, service] %></td>
    <td><%= service.description %></td>
    <td><% service.prices.each do |p| %>
        <%= number_to_currency(p.amount) %>
    <% end %>
    </td>
    <td><%= link_to 'Edit', edit_business_service_path(@business, service), class: 'btn' %></td>
    <td><%= link_to 'Delete', [@business, service], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
  <p><%= @business.name %> has not added any business services.   Please do so now.</p>
<% end %>

<p>
  <%= link_to 'New Service', new_business_service_path(@business) %> |
  <%= link_to 'Back', owner_businesses_path(@owner) %>
</p>
