<p id="notice"><%= notice %></p>

<p>
  <b>Service name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Price:</b>
	<% @service.prices.each do |p| %>
	  <%= number_to_currency(p.amount) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_business_service_path(@business, @service) %> |
<%= link_to 'Back', business_services_path(@business) %>
