<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>Additional</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
    <tr>
      <td><%= business.name %></td>
      <td><%= business.street_address %></td>
      <td><%= business.additional %></td>
      <td><%= business.city %></td>
      <td><%= business.state %></td>
      <td><%= business.zip_code %></td>
      <td><%= business.description %></td>
      <td><%= business.user_id %></td>
      <td><%= link_to 'Show', business %></td>
      <td><%= link_to 'Edit', edit_business_path(business) %></td>
      <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Business', new_owner_business_path(@owner) %>
