<div class="row">
    <aside class="span4">
    <section>
        <p>Hello <%= link_to current_owner.first_name, current_owner %></p>
        <p>Above link a profile link.</p>
    </section>
    <section>
<p>
  <%= @business.name %>
</p>
<p>
  <%= @business.street_address %>, <%= @business.city %>, <%= @business.state %>, <%= @business.zip_code %>
</p>

<p>
  <b>Business services:</b>
  <% if @business.services.count < 1 %>
  <p>To get started you need to enter business services.</p>
  <p><%= link_to "Please click here to do so.", business_services_url(@business) %></p>
  <% else %>
  <%= link_to @business.services.count, business_services_url(@business) %>
  <% end %>
</p>
     </section>
     <section>
        <p>Customer count: <%= link_to @business.customers.count, business_customers_url(@business) %></p>
      </section>
        </aside>
<div class="span8">
          <h3> Customer List for <%= @business.name %></h3>
<table class="table table-condensed">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Visits</th>
    <th>Last Visit</th>
    <th></th>
    <th></th>
  </tr>

<% @business.customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.first_name, [@business, customer] %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone %></td>
    <td><%= link_to customer.visits.count, customer_visits_path(customer) %></td>
    <td><%= customer.visits.count == 0 ? "No visits" : customer.visits.last.date_of_visit %></td>
    <td><%= link_to 'Edit', edit_business_customer_path(@business, customer), class: 'btn' %></td>
    <td><%= link_to 'Delete', [@business, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
  <% end %>
  </table>
</div>    
</div>


<%= link_to 'Edit', edit_owner_business_path(@owner, @business) %> |
<%= link_to 'Back', owner_businesses_path(@owner) %>

