<div class="row">
  <div class="span6 offset 3">
  <%= form_for(@owner) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
 
    <%= f.label :email %>
    <%= f.email_field :email %>
 
    <%= f.label :password %>
    <%= f.password_field :password %>
 
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <p>Please provide an address for you.  We'll get your business address later in the process:</p>

    <%= f.fields_for :address do |address| %>
      <%= render partial: 'addresses/form', locals: { f: address } %>
    <% end %>

    <%= f.submit class: 'btn btn-large btn-primary' %>
  </div>
  <% end %>
</div>

