<div class="row-fluid">
	<div class="span4">
		<p id="notice"><%= notice %></p>
		<p>
			<strong>Owner Name:</strong>
			<%= link_to @owner.name, edit_owner_path(@owner) %>
		</p>
		<p>
  		<strong>Email:</strong>
  		<%= @owner.email %>
		</p>

		<%= link_to 'Edit', edit_owner_path(@owner) %>
	</div>

	<div class="span4">
		<% if @owner.businesses.count == 0 %>
			<p>In order to manage your customers you need to tell us about your business.</p>
			<p>Please <%= link_to "add your business here.", new_owner_business_path(@owner) %></p>
		<% elsif @owner.businesses.count > 1 %>
			<%= @owner.businesses.each do |business| %>
				<%= link_to business.name, [@owner, business] %>
			<% end %>
		<% else %>
			<%= @owner.businesses.first.name %><br>
			<%= @owner.businesses.first.street_address %>
		<% end %>
	</div>
</div>
