<h1>Listing visits</h1>

<table>
  <thead>
    <tr>
      <th>Visit notes</th>
      <th>Date of visit</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
    <tr>
      <td><%= visit.visit_notes %></td>
      <td><%= visit.date_of_visit %></td>
      <td><%= visit.customer_id %></td>
      <td><%= link_to 'Show', visit %></td>
      <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
      <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
