<p id="notice"><%= notice %></p>

<p>
  <b>Visit notes:</b>
  <%= @visit.visit_notes %>
</p>

<p>
  <b>Date of visit:</b>
  <%= @visit.date_of_visit %>
</p>

<p>
  <b>Customer:</b>
  <%= @visit.customer.name %>
</p>


<%= link_to 'Edit', edit_customer_visit_path(@customer, @visit) %> |
<%= link_to 'Back', customer_visits_path(@customer) %>
