<%= form_for([@business, @customer]) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.fields_for :phones do |phones| %>
    <%= render partial: 'phones/form', locals: { f: phones } %>
  <% end %>
  <% if @customer.phones.count > 0 %>
  <div class="add_phone">
    <%= link_to "Add another phone number? (AVAILABLE IN A FUTURE RELEASE)", edit_business_customer_path(@business, @customer), remote: true %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :referred_by %><br />
    <%= f.text_field :referred_by %>
  </div>

    <% if @business.packages.count > 0 %>
      <%= f.label :name, 'Select a purchased package for this customer:' %>
      <%= f.collection_check_boxes :package_ids, Package.all, :id, :name %>
    <% end %>
 
    <% if @customer.packages.count > 0 %>
     
      <%= f.fields_for :customer_packages do |date| %>

        <%= date.label :date_purchased %>
        <%= date.date_field :date_purchased %>

        <%= date.label :date_completed %>
        <%= date.date_field :date_completed %>

        <%= date.label :used_count, 'Has the customer used any of this package?  Default is 0 so only use this field if you are adding a partially used package.' %>
        <%= date.number_field :used_count, default: 0 %>
      <% end %>
    <% end %>

  <%= f.fields_for :address do |address| %>
    <%= render partial: 'addresses/form', locals: { f: address } %>
  <% end %>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
