<h1>Listing customers for <%= link_to @business.name %></h1>

<% if @business.customers.count > 0 %>
<table class="table table-hover table-condensed">
  <tr>
    <th><%= sortable "first_name", "Name" %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "phone" %></th>
    <th><%= sortable "referred_by" %></th>
    <th><%= sortable "visits" %></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, [@business, customer] %></td>
    <td><%= customer.email %></td>
    <td><% customer.phones.each do |phone| %>
        <%= number_to_phone(phone.number, area_code: true) %><br />
    <% end %></td>
    <td><%= customer.referred_by %></td>
    <td><%= customer.visits.count %></td>
    <td><%= link_to 'Edit', edit_business_customer_path(@business, customer), class: 'btn' %></td>
    <td><%= link_to 'Delete', [@business, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
    <p><%= @business.name %> has not added any customers.  Please do so now.</p>
<% end %>

<p>
    <%= link_to 'New Customer', new_business_customer_path(@business) %> |
    <%= link_to 'Back', [@owner, @business] %>
</p>
