<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Business:</b>
  <%= @customer.business_id %>
</p>


<%= link_to 'Edit', edit_business_customer_path(@business, @customer) %> |
<%= link_to 'Back', business_customers_path(@business) %>
