<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <% @customer.phones.each do |phone| %>
    <%= number_to_phone(phone.number, area_code: true) %>
  <% end %>
</p>

<address>
  <%= @customer.address.line1 %><br />
  <% if !@customer.address.line2.blank? %>
    <%= @customer.address.line2 %><br />
  <% end %>
  <%= @customer.address.city %>, <%= @customer.address.state %>, <%= @customer.address.zip %><br />
</address>


<%= link_to 'Edit', edit_business_customer_path(@business, @customer) %> |
<%= link_to 'Back', business_customers_path(@business) %>
